<!DOCTYPE html>
<html>
<head>
  <title>Quoter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <ul class="nav navbar-nav navbar-right">
          <li><%= link_to  root_path, class: "brand", style:"font-size: 2rem;" do%>
            <span class="glyphicon glyphicon-comment" ></span>
            Quoter
          <% end %></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <%= form_tag(search_path, {class: "navbar-form navbar-left", method: :get}) do %>
          <div class="form-group has-feedback">
            <%= text_field_tag :body, params[:body], placeholder: 'Search Me', class: "form-control input-lg"%>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        <% end %>
    </div>
  </div>
</nav>

<div class="container">
<%= yield %>
</div>

</body>
</html>
